html {
  font-family: "Ubuntu", sans-serif;
}

@media (min-width: 1200px) {
  .small-screen-loader {
    display: none !important;
  }
  .smaller-mobiles {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .small-screen-loader {
    display: none !important;
  }
  .smaller-mobiles {
    display: none !important;
  }
  .part-time {
    margin: 0 0 0 30.5% !important;
  }
  .contract {
    margin: 0 0 0 31% !important;
  }
  .full-time {
    margin: 0 0 0 31% !important;
  }
  .internship {
    margin: 0 0 0 28.8% !important;
  }
  .freelance {
    margin: 0 0 0 29.5% !important;
  }
  .other {
    margin: 0 0 0 35.5% !important;
  }
  .empty {
    margin: 0 0 0 39% !important;
  }
}

@media (min-width: 480px) and (max-width: 992px) {
  .smaller-devices-list {
    margin: 5px 0 5px 0 !important;
  }
  .smaller-devices-modal {
    width: fit-content !important;
  }
  .small-screen-loader {
    display: none !important;
  }
  .rs-loader-spin {
    margin: 25px !important;
  }
  .smaller-mobiles {
    display: none !important;
  }
  .smaller-devices-spacing {
    margin: 30px 0 auto 0 !important;
  }
  .part-time {
    margin: 0 0 0 30.5% !important;
  }
  .contract {
    margin: 0 0 0 31% !important;
  }
  .full-time {
    margin: 0 0 0 31% !important;
  }
  .internship {
    margin: 0 0 0 28.8% !important;
  }
  .freelance {
    margin: 0 0 0 29.5% !important;
  }
  .other {
    margin: 0 0 0 35.5% !important;
  }
  .empty {
    margin: 0 0 0 39% !important;
  }
}

@media (max-width: 480px) {
  .smaller-devices-list {
    margin: 5px 0 5px 0 !important;
  }
  .smaller-devices-modal {
    width: fit-content !important;
  }
  .large-screen-loader {
    display: none !important;
  }
  .small-screen-loader .rs-loader-spin {
    margin: 50px !important;
  }
  .small-screen-loader .rs-loader-content {
    width: 20rem !important;
  }
  .smaller-mobiles {
    margin: 20px 0 0 0 !important;
  }
  .smaller-devices-spacing {
    margin: 30px 0 auto 0 !important;
  }
  .part-time {
    display: none !important;
  }
  .contract {
    display: none !important;
  }
  .full-time {
    display: none !important;
  }
  .internship {
    display: none !important;
  }
  .freelance {
    display: none !important;
  }
  .other {
    display: none !important;
  }
  .empty {
    display: none !important;
  }
}
